/* Estilos generales del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
header {
    background-color: #333;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-bar {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

/* Barra de categorías */
.categories {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 10px 0;
}

.category-button {
    padding: 10px;
    margin: 0 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

/* Contenedor de los vehículos */
.car-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilo de la tarjeta de vehículo */
.car-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease; /* Agrega transición al pasar el puntero */
}

.car-card:hover {
    transform: scale(1.05); /* Efecto de aumento cuando el puntero pasa sobre la tarjeta */
}

.car-image {
    width: 100%;
    height: auto;
}

/* Estilo del contenedor de la información de la tarjeta */
.car-info {
    margin-top: 10px;
    opacity: 0; /* Oculta la información */
    transition: opacity 0.3s ease; /* Transición para que se muestre suavemente */
    position: absolute; /* Hace que la información se superponga sobre la imagen */
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: white;
    padding: 10px;
}

.car-card:hover .car-info {
    opacity: 1; /* Muestra la información al pasar el puntero sobre la tarjeta */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .search-bar {
        width: 80%;
        margin-top: 10px;
    }

    .categories {
        flex-direction: column;
    }

    .category-button {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .navbar button {
        width: 100%;
        margin-top: 10px;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    .car-gallery {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}
